body {
    text-align: center;
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url(../images/Background.jpg);
    background-size: cover;
    background-position: top center;
    height: 200vh;
    color: white;

}   

#logo {
    background-color: rgb(7, 6, 31);
    border-radius: 20px;
    margin-bottom: 30px;
    border-color: rgb(0, 255, 255, 0.3);
    border-style: dashed;
}

#navigation {
    margin-bottom: 24px;
}

#navigation .link {
    padding: 24px;
    
    border-radius: 18px;
}

#navigation .link:hover {
    background-color: rgb(7, 7, 49);
    cursor: pointer;
    border-color: azure;
    border-style: dotted;
}

.Info img {
    border-radius: 18px;
    margin-top: 10px;
    width: 80%;
    max-width: 240px;
    border-color: aliceblue;
    border-style: double;
}

.Modell img {
    border-radius: 18px;
    margin-top: 10px;
    width:80%;
    max-width: 240px;
    border-color: aliceblue;
    border-style: double;
}

#footer {
    border-radius: 18px;
    border-color: rgb(30, 23, 58);
    border-style: double;
    background-color: rgb(14, 14, 44, 0.5);
}